.super-mario {
    width: 100px;
    position: relative;
    left: 100px;
    bottom: 125px;
  }
  
  .goomba {
    width: 100px;
    
  }
  
  .baloon {
  
  }
  
  .speach {
    font-size: 25px;
  }
  
  .bowser {
    width: 200px;
  }

  .title{
    margin-bottom: 150px;
  }